---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
    
;

/* 修改 teaching 列表标题链接颜色 */
.archive__item-title a {
  color: #000000 !important; /* 深绿色示例，可改为你喜欢的 HEX 色值 */
  font-size: 1.15rem !important; /* 默认约 1.4–1.6rem，1.1rem 约小一号 */

}

.archive__item-title a:hover {
  color: #000000 !important; /* 鼠标悬停色 */
  margin-bottom: 1.3em;

}

/* 放宽整个侧边栏 */
.sidebar {
  width: 300px !important;
  padding-right: 20px;
}

/* 调大头像尺寸 */
.author__avatar {
  width: 300px !important;   /* 默认约 80–100px，可调至 120–150px */
  height: auto !important;
  border-radius: 50%;
  display: block;
}

/* 调整作者信息文字位置，避免重叠 */
.sidebar .author__content {
  margin-top: -10px;
}

img + em {
  display: block;
  text-align: center;
  font-style: italic;
  margin-top: -0.5em;
  margin-bottom: 1.5em;
  color: #666;
}